body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

.container {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.406);
    text-align: center;
    width: 90%;
    max-width: 400px;  
    box-sizing: border-box;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #fbc2df, #c69cfd);
    cursor: pointer;
    color: #1a1919;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.qr-box {
    margin-top: 25px;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-box img {
    max-width: 100%;    
    width: 200px;       
}

.qr-box h3 {
    color: #1d1c1c;
}

.qr-box p {
    color: #131111;
    margin-top: 20px;
}
